# Compiled class files
*.class

# Private directories
private/

# Build directories
build/

# Binary files
bin/

# Target directory
target/

# GitHub files
#.github/

# Sonarlint files
sonarlint/

# IntelliJ files.
.idea/
*.iml

# Eclipse files
*.project
*.classpath
.settings/

# Output directory
out/

# Log directories and files
logs/
*.log