# Compiled class file
*.class

# Private directories
/private/

# Build directories
/build/

# Target directory
target/

# GitHub files
.github/

# IntelliJ files.
.idea/
*.iml

# Eclipse files
*.project
*.classpath
.settings/

# Output directory
out/